<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="<%= process.env.SITE_URL %>/assets/styles/style.css"
    />
    <% if (title === 'Register' || 'Login') { %>
    <link
      rel="stylesheet"
      href="<%= process.env.SITE_URL %>/assets/styles/formulaire/formulaire.css"
    />
    <% }%> <% if (title === 'VerifyEmail') { %>
    <link
      rel="stylesheet"
      href="<%= process.env.SITE_URL %>/assets/styles/verifyEmail/verify-email.css"
    />
    <% }%>
    <link rel="stylesheet" href="" />
    <title><%= title || 'shareskill' %></title>
  </head>

  <body>
    <header><%- include('./components/navbar') %></header>

    <main><%- include(view) %></main>
    <script
      type="module"
      src="<%= process.env.SITE_URL %>/assets/js/navbar.js"
    ></script>
    <% if (title === 'Register') { %>
    <script
      type="module"
      src="<%= process.env.SITE_URL %>/assets/js/register.js"
    ></script>
    <% }%> <% if (title === 'VerifyEmail') { %>
    <script
      type="module"
      src="<%= process.env.SITE_URL %>/assets/js/verifyEmail.js"
    ></script>
    <% }%>
  </body>
</html>
